@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  height: auto;
  margin: 0;
  background-color: var(--white);
  line-height: 1.6;
  color: var(--very-dark-magenta);
}

.container {
  padding: 80px 20px 0 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
