@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-desaturated-blue: hsl(238, 29%, 16%);
  --red: hsl(14, 88%, 65%);
  --violet: hsl(273, 75%, 66%);
  --blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  font-size: 12px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *::before,
*::after {
  box-sizing: inherit;
} */

img {
  max-width: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-desaturated-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(var(--violet), var(--blue));
}

.card {
  background-color: white;
  max-width: 350px;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 25px 25px 25px rgba(11, 15, 34, 0.1);
  overflow: hidden;
  background-image: url('images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center -1%;
  background-size: 70%;
}

.card__box {
  display: none;
}

.card_img .mobile {
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: auto;
  display: block;
  transform: translateX(20%) translateY(-60%);
  position: absolute;
  z-index: 1;
}

.card_img .desktop {
  display: none;
}

.card_text {
  padding-top: 130px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 56em) {
  .card {
    display:flex;
    max-width: 900px;
    margin: 124px auto;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: 75%;
    background-position: -153% 65%;
  }

  .card__box {
    display: block;
    position: absolute;
    transform: translateX(-100px) translateY(135px);
    z-index: 1;
  }

  .desktop, .card_text {
    flex: 1;
    padding-right: 40px;
  }

  .card_img {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card_img .mobile {
    display: none;
  }

  .card_img .desktop {
    display: block;
    transform: translateX(-70px);
    max-width: 400px;
  }

  .card_text {
    padding-top: 0;
  }
}