@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-desaturated-blue: hsl(238, 29%, 16%);
  --red: hsl(14, 88%, 65%);
  --violet: hsl(273, 75%, 66%);
  --blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  font-size: 12px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--grayish-blue);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(var(--violet), var(--blue));
}

.card {
  background-color: white;
  width: 350px;
  margin: 150px;
  border-radius: 10px;
  box-shadow: 0 25px 25px 25px rgba(11, 15, 34, 0.1);
  overflow: hidden;
  background-image: url('images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center -0.5%;
  background-size: 72%;
  padding: 45px 20px;
}

.card__box {
  display: none;
}

.card_img .mobile {
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: auto;
  display: block;
  transform: translateX(11%) translateY(-85%);
  position: absolute;
  z-index: 1;
}

.card_img .desktop {
  display: none;
}

.card_text {
  padding-top: 75px;
}

.card_text h1 {
  padding: 15px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color:var(--dark-desaturated-blue);
}

.accordion__item {
  padding-top: 15px;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.accordion__question {
  border: none;
  background-color: transparent;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion__question:hover {
  color: var(--red);
}

.accordion__question::after {
  content: '';
  display: block;
  width: 0.625rem;
  height: 1rem;
  background-image: url('images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform 300ms ease-in-out;
}

.accordion__content {
  margin-bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.accordion__question.open {
  font-weight: bold;
}

.accordion__question.open::after {
  transform: rotate(180deg);
}

.accordion__collapse.collapse {
  display: none;
}

.accordion__collapse.collapse.open {
  display: block;
}

@media (min-width: 56em) {
  .card {
    display:flex;
    width: 800px;
    margin: 124px auto;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: -1140% 75%;
    padding: 30px 50px 30px 0;
  }

  .card__box {
    display: block;
    position: absolute;
    width: 150px;
    transform: translateX(-70px) translateY(35px);
    z-index: 1;
  }

  .desktop, .card_text {
    flex: 1;
    padding-right: 40px;
  }

  .card_text h1 {
    text-align: left;
    padding-left: 0;
  }

  .card_img {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card_img .mobile {
    display: none;
  }

  .card_img .desktop {
    display: block;
    transform: translateX(-60px);
    max-width: 400px;
  }

  .card_text {
    padding-top: 0;
  }
}