@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 375px;
  height: auto;
  padding: 80px 30px 20px 30px;
  line-height: 1.6;
  background: white;
}

.logo {
  width: 50px;
  padding-bottom: 30px;
}

.card h4 {
  padding-bottom: 10px;
}

.card h4 span {
  font-weight: 100;
  color: var(--gray);
}

.card p {
  font-size: 11px;
  padding-bottom: 30px;
}

.card form input {
  border: 1px solid var(--pale-blue);
  padding: 10px 95px 10px 30px;
  border-radius: 40px;
}

::placeholder {
  font-size: 12px;
  color: var(--pale-blue);
}

.card .error input {
  border: 1px solid var(--light-red);
}

.card form button {
  font-size: 12px;
  background-color: var(--blue);
  color: white;
  border: none;
  box-shadow: 0 5px 5px 5px rgba(183, 184, 205, 0.2);
  padding: 10px 110px;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  transition: opacity 0.5s ease-in-out;
}

.card form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card form small {
  display: none;
  color: var(--soft-red);
  margin-top: 0;
  font-size: 10px;
  font-style: italic;
  color: var(--light-red);
}

.card .error1 .valid {
  display: block;
}

.card .error2 .blank {
  display: block;
}

.dashboard {
  width: 320px;
}

.social-links {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.social-links .fa-stack {
  color: var(--blue);
  font-size: smaller;
  margin: -5px 0 0 -3px;
}

.social-links .circle {
  border: 0.5px solid hsl(0, 0%, 59%, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-links .fa-stack:hover {
  color: white;
}

.social-links .circle:hover {
  background-color: var(--blue);
}

.card .copyright {
  color: var(--gray);
  font-size: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(min-width: 1440px) {
  .card {
    max-width: 1440px;
    padding: 60px 315px 0 315px;
  }

  .logo {
    width: 65px;
  }
  
  .card h4 {
    font-size: 35px;
  }

  .card p {
    font-size: 15px;
  }

  .card form {
    display: flex;
    flex-direction: row;
  }

  .card form input {
    padding: 12.5px 95px 12.5px 30px;
  }

  .card form button {
    padding: 15px 50px;
    margin-top: 0;
    margin-left: 10px;
  }

  .dashboard {
    width: 450px;
  }
}