@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: var(--very-dark-blue-card);
  margin: 250px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.container img.picture {
  height: 85%;
  width: 85%;
  border-radius: 10px;
  margin: 25px 25px;
  transition: all 0.2s ease-in-out;
}

.container img.picture:hover {
  opacity: 0.8;
}

.container h2 {
  color: var(--white);
  padding-left: 20px;
  text-align: left;
}

.container p.desc {
  padding-left: 20px;
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  color: var(--soft-blue);
}

.container .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.container .info img {
  width: 15px;
  height: 15px;
}

.container .info h4 {
  color: var(--cyan);
}

.container .info p {
  color: var(--soft-blue);
}

.container .info .eth {
  display: flex;
  flex-direction: row;
}

.container .info .days {
  display: flex;
  flex-direction: row;
}

hr {
  margin: 20px;
  border: 0.01em solid hsl(215, 32%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  color: var(--soft-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  color: var(--soft-blue);
}

.attribution p {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 5px;
}

.attribution a {
  color: var(--white);
}

.attribution img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}